<p>dir works!</p>
<h2 appHighlight>Directive</h2>
<div >
  <input type="number" [(ngModel)]="num" />
</div>
<h3 class="appHighlight">ngIf</h3>
<div *ngIf="num != undefined && num%2==0">
  Even Number
</div>
<div *ngIf="num != undefined && num%2!=0;">
  Odd Number
</div>
<h3>ngIf Else..</h3>
<div *ngIf="num != undefined && num%2==0 then div1; else div2" ></div>

<ng-template #div1> Even Number</ng-template>
<ng-template #div2> Odd Number</ng-template>

<h3>ngSwitch..</h3>
<input type="text" [(ngModel)]="alphabet"/>
<div [ngSwitch]="alphabet">
  <div *ngSwitchCase="'a'">Vowel</div>
  <div *ngSwitchCase="'e'">Vowel</div>
  <div *ngSwitchCase="'i'">Vowel</div>
  <div *ngSwitchCase="'o'">Vowel</div>
  <div *ngSwitchCase="'u'">Vowel</div>
  <div *ngSwitchDefault>Not Vowel</div>
</div>
<h3>ngFor..</h3>
<div >
  <ul *ngFor="let item of colors">
    <li >{{item}}</li>
  </ul>
</div>
<p>
  Employee Name: {{eName}}
</p>
<!-- <p>
  Employee Salary: {{empObj.getSalary(1000)}}
</p> -->
