<nav class="navbar navbar-expand-lg bg-dark bg-orange">
<div class="navbar navbar-dark bg-orange">
    <a class="navbar navbar-brand bg-red" href="#">Angular SPA</a>
  <ul class="nav navbar-nav">
   <li>
     <a routerLink=''>Home</a> |
   </li>
   <li><a routerLink="dir" >dir</a></li> |
   <li><a routerLink="cpipe" >cpipe</a></li> |
   <li><a routerLink="attrdir" >Attr Dir</a></li> |
   <li><a [routerLink]="['Product',4]" routerLinkActive="['active']"
     routerLinkActiveOptions="{eaxct:true}">Product</a></li>
   </ul>
 </div>
</nav>
<div class="container">
<router-outlet></router-outlet>
</div>

